.btn {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 2px;
  color: white;
  font-size: 20px;
}

.basic-btn {
  background: #393b39;
}

.basic-btn:hover {
  background: rgb(112, 112, 112);
}

.basic-btn:active {
  background-color: rgb(90, 121, 151);
}

.opp-btn {
  background: #56abee;
}

.opp-btn:hover {
  background: #79bcf0;
}

.opp-btn:active {
  background: #4c8dee;
}
